h2.job-title {
    position: absolute;
    transform: translateY(70px);
    font-size: 4rem;
    letter-spacing: 1rem;
    color: #0e3742;
    color: #272341;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;

    @include respond(tab-port){
        font-size: 3rem;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #00000029);
        padding: 0 8rem;
    }
    @include respond(tab-port-sm){
        // font-size: 1.7rem;
        font-size: 3rem;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #00000029);
        padding: 0 12rem;
    }
    
}
h2 span {
    display: none;
}
@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% 
    {
        color: lighten(#1C0B19,10%);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: #fff;
        $glow: lighten(#272341,40%);
        $glow: lighten(#1C0B19,40%);
        text-shadow:
            0 0 10px $glow,
            0 0 20px $glow,
            0 0 40px $glow,
            0 0 80px $glow,
            0 0 160px $glow
        ;
    }
}