.js-loading {
    #loading {
        display: flex;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: white;
        z-index: 999;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: all 1s;
        animation: delay-with-load 1s forwards;
    }
    #spinner {
        animation: rotate 0.56s infinite linear;
        width:50px;
        height:50px;
        border:12px solid rgb(255, 44, 90);
        border-bottom:12px solid #fff;
        border-radius:50%;
        margin:0;
    }
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes delay-with-load {
 to {
        display: none;
    }
}