// // COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

// $white-color: #fff;

// $dark-grey: #333333;

// $dark-blue-text: #272341; // For Headings

// // -------------------------------------------------------

// // COLORS
// $primary-color: #474A2C;
// $secondary-color: #9ea180;

// $primary-dark: darken($primary-color, 50%);

// $white-color: #DDE0BD;

// $dark-grey: #1C0B19;

// $dark-blue-text: #140D4F; // For Headings

// // -------------------------------------------------------

// COLORS
$primary-color: #474A2C;
$secondary-color: #9ea180;

$primary-dark: darken(#1C0B19, 6%);

$white-color: #1C0B19; 

$dark-grey: #B8D8BA;

$dark-blue-text: #DDE0BD;// For Headings

// 


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
